.favicon {
  width: 15px;
  height: 15px;
}

/* Global */
:root {
  /* Color */

  --color-beige: rgb(224, 224, 197);
  --color-blue: #88b2ff;
  --color-purple: #ddc0ff;
  --color-green: #e2ffd2;
  --color-pink: #ffc4b6;
  --color-black: #212121;
  --color-bluegrey: #37474f;

  /* Font Size */
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.1rem;
  --font-small: 1rem;
  --font-micro: 0.8rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.25rem 0;
}
