.favicon {
  width: 15px;
  height: 15px;
}

/* Global */
:root {
  /* Color */

  --color-beige: rgb(224, 224, 197);
  --color-blue: #88b2ff;
  --color-purple: #ddc0ff;
  --color-green: #e2ffd2;
  --color-pink: #ffc4b6;
  --color-black: #212121;
  --color-bluegrey: #37474f;
  --color-white: whitesmoke;
  --color-dark-blue: #5483cb;

  /* Font Size */
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.1rem;
  --font-small: 1rem;
  --font-micro: 0.8rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 0.25rem;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.5rem 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 0.25rem 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  padding: 1rem;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
  flex-direction: row;
}

.navbar__menu__item {
  padding: 0.5rem 0.75rem;
  margin: 0 0.25rem;
  color: var(--color-white);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
  border-radius: 0.25rem;
}

/* Home */
#home {
  background: url("imgs/background_img_1.jpg") center/cover no-repeat;
  padding: 2.5rem;
  text-align: center;
}

.home__avatar {
  width: 15.63rem;
  height: 15.63rem;
  border-radius: 50%;
  border: 0.125rem solid var(--color-white);
}

.home__description,
.home__title {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 1.5rem;
  padding: 0.5rem 1.25rem;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
